@use 'variables';
@use 'mixins';
@use 'sidebar';
@use 'header';
@use 'footer';


body {
  font-family: variables.$font-stack;
  margin: 0;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;

  section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: 75%;

    h2 {
      color: variables.$primary-color;
    }
  }
}